body {
    letter-spacing: 2px;
    font-family: 'Mulish';
    margin:auto
}

.logo {
    width: 260px;
    height: auto;
    margin-left: 200px;

}

/* button style */
.add-button {
    margin: 25px;
    margin-left: 200px;
}

.save-button {
    margin-left: 200px;
}

.csv-summary-div {
    margin-left: 10px;
    margin-bottom: 20px;
}
.csv-summary-div-on-card {
    margin-left: 65px;
    margin-bottom: 20px;
}

/* .csv-download-button {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 18px;
    transition: transform .2s;
    background: transparent;
    border: none;
}

.csv-download-button:hover {
    transform: scale(1.2); 
    cursor: pointer;
} */

/* styling for new project and its items */

.project-name {
    margin-left: 200px;
    display: inline-block;
}

.project-name-display {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    display: inline-block;
    margin-left: 200px;
    position: absolute;
}

.new-item-container {
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding-left:200px;
    padding-right:200px;
    grid-template-columns: 300px 200px 200px 200px 50px;
    grid-template-rows: 1fr;
    column-gap: 16px;
}

.item-name {
    display: inline-block;

}

.category {
    display:inline-block;
}

.project-status {
    display: inline-block;
    margin: 5px;
    margin-left: 16px;
}

.info-radio {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    padding-top: 5px;
}

/* saved list styling */

.projects-total-text {
    margin-left: 190px;
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 20px;
}


.sort-bar {
    text-align: left;
}

.saved-nav{
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding-left:200px;
    grid-template-columns: 800px 100px;
    grid-template-rows: 1fr;
}

.saved {
    padding-top: 10px;
    padding-bottom: 50px;
}

.saved-cards-grid {
    display: grid;
    text-align: left;
    margin: 15px;
    margin-left: 220px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    column-gap: 16px;
    row-gap: 16px;
}

/* .saved-card-div {
    width: "300px";
    margin: "auto";
    border: 1px solid black;
    padding: 25px;  
} */

.saved-text-date {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 100px;
    padding: 5px;
    display: inline;
    opacity: 60%
}

.saved-text-status {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    display: inline;
}

.saved-text-name {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 18px;
    margin-left: 10px;
    padding: 2px;
    display: block;
}

.saved-text-items {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    display: block;
    color: rgb(62, 105, 199);
    opacity: 80%
}

.saved-text-items:hover {
    font-weight:900;
    cursor: pointer;
}

.saved-text-cost {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    display: block;
    color: rgb(62, 105, 199);
    opacity: 80%
}

.trashcan-on-card-div {
    text-align: center;
    padding:20px;
}