body {
    letter-spacing: 2px;
    font-family: 'Mulish';
    margin:auto
}

.logo {
    width: 260px;
    height: auto;
    margin-left: 200px;

}

/* button div style */
.add-button {
    margin: 25px;
    margin-left: 200px;
}

.save-button {
    margin-left: 200px;
}

/* styling for new project and its items */

.project-name {
    margin-left: 200px;
    display: inline-block;
}

.project-name-display {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    display: inline-block;
    margin-left: 200px;
    position: absolute;
}

.new-item-container {
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding:15px;
    padding-left:200px;
    padding-right:200px;
    grid-template-columns: 300px 200px 200px 200px 50px;
    grid-template-rows: 1fr;
    column-gap: 16px;
}

.item-name {
    display: inline-block;

}

.category {
    display:inline-block;
}

.project-status {
    display: inline-block;
    margin: 5px;
    margin-left: 16px;
}

.info-radio {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    display: inline-block;
    position: absolute;
    padding-top: 5px;
}

/* saved list styling */

.projects-total-text {
    margin-left: 190px;
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 20px;
}

.pdf-summary-text {
    margin-left: 980px;
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    transition: transform .4s;
}

.pdf-summary-text:hover {
    transform: scale(1.4); 
    cursor: pointer;
}

.sort-bar {
    text-align: left;
}

.saved-nav{
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding-left:200px;
    grid-template-columns: 810px 100px;
    grid-template-rows: 1fr;
}

.saved {
    padding-top: 10px;
    padding-bottom: 50px;
}

.saved-cards-grid {
    display: grid;
    text-align: left;
    margin: 15px;
    margin-left: 220px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    column-gap: 16px;
    row-gap: 16px;
}

.saved-text-date {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 100px;
    padding: 5px;
    display: inline;
    opacity: 50%
}

.saved-text-status {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    display: inline;
}

.saved-text-main {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    margin-left: 10px;
    padding: 2px;
    display: block;
}

.trashcan-on-card-div {
    text-align: center;
    padding:20px;
}

.saved-text-left {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 18px;
    margin-left: 10px;
    padding: 20px;
    display: inline;
}

.saved-text-right {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 18px;
    margin-left: 120px;
    padding: 20px;
    text-align: right;
    display: inline;
}

/* .each-saved-div {
    display: grid;
    text-align: left;
    margin-top: 25px;
    margin-left: 200px;
    grid-template-columns: 950px 50px;
    grid-template-rows: 1fr;
    column-gap: 16px;
} */