body {
    letter-spacing: 2px;
    font-family: 'Mulish';
    margin:auto
}

.logo {
    width: 260px;
    height: auto;
    margin-left: 200px;

}

/* button div style */
.add-button {
    margin: 25px;
    margin-left: 200px;
}

.save-button {
    margin-left: 200px;
}

/* styling for new issue and its items */

.issue-name {
    margin-left: 200px;
    display: inline-block;
}

.issue-name-display {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    display: inline-block;
    margin-left: 200px;
    position: fixed;
}

.new-item-container {
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding:15px;
    padding-left:200px;
    padding-right:200px;
    grid-template-columns: 300px 200px 200px 200px 50px;
    grid-template-rows: 1fr;
    column-gap: 16px;
}

.item-name {
    display: inline-block;

}

.category {
    display:inline-block;
}

.issue-status {
    display: inline-block;
    margin: 5px;
    margin-left: 16px;
}

.info-radio {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 14px;
    display: inline-block;
    position: fixed;
    padding-top: 5px;
}

/* saved list styling */

.saved {
    padding-top: 50px;
}

.saved-text {
    letter-spacing: 2px;
    font-family: 'Mulish';
    font-size: 16px;
    padding: 10px;
}